# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Gradle #
.gradle
gradle-app.setting
!/gradle/wrapper/gradle-wrapper.jar
.gradletasknamecache

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
